In [1]:
# Date & Time in python

In [2]:
import datetime as dt
x = dt.datetime.now()
print(x)   #shows nows date and time

2023-06-07 17:13:37.877919

In [10]:
import datetime
x = datetime.datetime.now()
print(x.year)
print(x.month)
print(x.day)
print(x.strftime("%D"))

2023
6
7
06/07/23

In [11]:
import datetime as dt
x = dt.datetime.now()
name = input("Enter your name = ")
y = dt.datetime.now()
print(y-x)

Enter your name = Suraj
0:00:03.547546

In [13]:
(y).hour
type(x)

datetime.datetime

In [18]:
import datetime
x = datetime.datetime.now()
s1 = x.strftime("%S")

name = input("Enter your name = ")

y = datetime.datetime.now()
s2 = y.strftime("%S")
int(s2)-int(s1)

# 5 sec takes me to typr my name

Enter your name = Suraj tamang

5

In [20]:
# Comperhensions : List,Dictionary

l = [i for i in range(0,11)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
l = [int(input("Enter value = ")) for i in range(4)]
l

Enter value = 423
Enter value = 2324
Enter value = 243
Enter value = 233

[423, 2324, 243, 233]

In [22]:
l = [input("Enter value = ") for i in range(4)]
l

Enter value = Suraj
Enter value = yoman
Enter value = sugam
Enter value = nawaraj

['Suraj', 'yoman', 'sugam', 'nawaraj']

In [27]:
# DICT
d = {i:i**3 for i in range(1,6)}
d

dict

In [29]:
d = {input("Enter your name = "):input("Your number = ")for i in range(2)}
d

Enter your name = Suraj Tamang
Your number = 9841445871
Enter your name = Pabitra Sunuwar
Your number = 9841651834

{'Suraj Tamang': '9841445871', 'Pabitra Sunuwar': '9841651834'}

In [30]:
#Python OS package

In [31]:
import os
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'And or OR.ipynb',
 'beautifulsoup.ipynb',
 'bill.csv',
 'bill.txt',
 'Bonus.ipynb',
 'Calc.py',
 'Classwork.ipynb',
 'covid.csv',
 'covidata.csv',
 'coviddata.csv',
 'covid_data.csv',
 'data.csv',
 'data.txt',
 'Database.ipynb',
 'Databse.ipynb',
 'datacovi.csv',
 'datacovid.csv',
 'File.ipynb',
 'First Python.ipynb',
 'Function.ipynb',
 'Game.ipynb',
 'Grading.ipynb',
 'info.csv',
 'jd.ipynb',
 'list_data.csv',
 'Loop.ipynb',
 'Mapping and function.ipynb',
 'My SQL.ipynb',
 'new_data.csv',
 'OOP and inheritance.ipynb',
 'OOP.ipynb',
 'Plotly.ipynb',
 'Quiz Game.ipynb',
 'Set.ipynb',
 'studentdata.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'While loop.ipynb',
 'wowwww.ipynb']

In [32]:
os.mkdir('new_folder') #Create a folder

In [33]:
os.chdir('new_folder') #Enter in folder

In [34]:
pwd # checking either i am in folder or not.

'C:\\Users\\suraj\\Python Training\\new_folder'

In [35]:
cd .. #Getting out of the folder

C:\Users\suraj\Python Training

In [39]:
os.remove('datacovi.csv')

In [42]:
import pandas as pd
data = {'name':['Ram','Shyam','Hari'],
       'age':[34,36,68],
       'add':['Kathmandu','Boudha','Lalitpur']}
df = pd.DataFrame(data)
df.to_json('info.json')
df

    name  age        add
0    Ram   34  Kathmandu
1  Shyam   36     Boudha
2   Hari   68   Lalitpur