In [ ]:
print("Welcome to my Quiz game")
playing =input("Do you want to play game")
    if playing !="Yes":

        print("Let's play :")

In [6]:
a = 2
b = 3
print(a + b,a * b,a - b,a**b)

5 6 -1 8

In [8]:
a = "suraj tamang"
b = 10
print(a * b)

suraj tamangsuraj tamangsuraj tamangsuraj tamangsuraj tamangsuraj tamangsuraj tamangsuraj tamangsuraj tamangsuraj tamang

In [4]:
a = 4
b = 2

sum = a + b 
diff = a - b
mul = a * b
div = a / b

print( sum);
print( diff);
print( mul);
print( div);

6
2
8
2.0

In [1]:
a = "Suraj tamang"
b = 15

In [2]:
a = 10
b = 10.5
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [6]:
let a=10
b=float(a)
print(b)

SyntaxError: invalid syntax (207504187.py, line 1)

In [7]:
a = 10
b = float(a)
print(b)

10.0

In [12]:
a = 10.5
b = str(10)
print(b)

10

In [13]:
a = 64
print(a//)

SyntaxError: invalid syntax (3646509530.py, line 2)

In [17]:
a = 100
b = 7
sum = a % b 
print(sum)

2

In [48]:
 a = "suraj "
b  = "tamang\n "
print((a+b)*10)

suraj tamang
 suraj tamang
 suraj tamang
 suraj tamang
 suraj tamang
 suraj tamang
 suraj tamang
 suraj tamang
 suraj tamang
 suraj tamang

In [42]:
a = True
b = False
c = a+b
print(c)

1

In [47]:
name = input("your name =")
print("Welcome name =, name ")

your name =suraj
Welcome name =, name

In [49]:
name = input("your name")
print("welcome, name")

your nameSuraj
welcome, name

In [8]:
name = input("your name ")
print("welcome your mane,  name ")

your name suraj
welcome your mane=,  name

In [ ]:
name = input("your name")
print("welcome, name")

In [19]:
a = int(input("Enter any numbers = "))
b = str(input(" Enter Name = "))
print(a*b)

Enter any numbers = 10
 Enter Name = Suraj tamang
Suraj tamangSuraj tamangSuraj tamangSuraj tamangSuraj tamangSuraj tamangSuraj tamangSuraj tamangSuraj tamangSuraj tamang

In [3]:
Name= input("Enter your name = ")
English = int(input("English marks = "))
Nepali = int(input("Nepali marks = "))
Science = int(input("Science marks = "))
Math= int(input("Math marks = "))
Social = int(input("Social marks = "))
Computer = int(input("Computer marks = "))
Account = int(input("Account marks = "))

Total = English + Nepali + Science + Math + Social + Computer + Account
Per = Total/7
if Per>40:
    result = "Congratulation, you have Passed the exam"
else:
    result = "I'm Sorry, you have Failed the exam"


print("Hello Mr",Name,"Your total marks is ",Total,"Your all over per is ",Per,result)

Enter your name = Suraj Tamang
English marks = 88
Nepali marks = 78
Science marks = 89
Math marks = 90
Social marks = 67
Computer marks = 99
Account marks = 89
Hello Mr Suraj Tamang Your total marks is  600 Your all over per is  85.71428571428571 Congratulation, you have Passed the exam

In [36]:
per = 50%
result = if (per>40 = Pass)
         else (per<40 = Fail)
    print(result)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [64]:
a = int(input("Your number = "))
b = int(input("Your number = ")) 
if a < b:
        result ="I'm sorrry you have been fail."
else:
        result ="Congratulation! You Have been Pass."
        print(result)

Your number = 78
Your number = 89

In [91]:
a = int(input("Enter your number = "))
b = int(input("Enter your number = "))

if a<b:
       result = "fail"
else:
     result = "pass"
print(result)

Enter your number = 67
Enter your number = 87
fail

In [ ]:
a = 10 
b = 12
print("a + b")

In [ ]:
a = 10
b = 10
c = a + b
print("the value of c is",c)

In [3]:
a = 10
b = 11
c = a*b
print("the value of c is "+ str(c))

the value of c is 110

In [6]:
name = input("Enter your name = ")
age = input("enter your age = ")
Add = input("enter your address = ")
hob = input("Enter your hobby = ")

info = "Hello, My name is " + name + " my age is "+ str(age) + " My address is "+ Add + " My hobby is to play "+ hob
print(info)

Enter your name = Suraj
enter your age = 44
enter your address = ldhgoihgag
Enter your hobby = dhgignf
Hello, My name is Suraj my age is 44 My address is ldhgoihgag My hobby is to play dhgignf

In [ ]:
print(Welcome to my game)
play = input("Do you want to play game" "Yes/NO")

In [4]:
name = input("Enter your name = ")
n = int(input("Enter your value = "))
for a in range(n):
    grand = 0
    product = input("Product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity"))
    total = price*quantity
    print(total)
    grand = total*n

Enter your name = ljdfhs
Enter your value = 2
Product name = jdfhudfn
Enter price = 20
Enter quantity2
40
Product name = dklfnsn
Enter price = 20
Enter quantity4
80

In [7]:
grand_total = 0
name = input("Enter your name = ")
n = int(input("Enter your value = "))
for a in range(n):
    product = input("Product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total + total
    print(total)
info = "Mr"+" " + name +"."+" "+ "Your total amount is" +" "+ str(grand_total)+"."
print(grand_total)
print(info)

Enter your name = Suraj tamang\
Enter your value = 3
Product name = apple
Enter price = 300
Enter quantity = 2
600
Product name = banana
Enter price = 200
Enter quantity = 2
400
Product name = orange
Enter price = 300
Enter quantity = 3
900
1900
Mr Suraj tamang\. Your total amount is 1900.

In [14]:
a = "hello MF"
for i in a:
    print(i,end = "-")

h-e-l-l-o- -M-F-

In [21]:
n = int(input("Enter your numbers = "))
for i in range(n):
    name = input("Enter your name = ")
    add = input("Enter your address = ")
    age = int(input("Enter your Age = "))
    job = input("Enter your Job = ")
    info = "Hi!:),My name is"+" "+name+"."+"I am currently living in"+" "+add+"."+"I am "+" "+str(age)+" "+"years old"+" "+"and i am an "+job+"."
    print(info)

Enter your numbers = 3
Enter your name = Suraj Tamang
Enter your address = Narephate,Kathmandu
Enter your Age = 20
Enter your Job = Student
Hi!:),My name is Suraj Tamang.I am currently living in Narephate,Kathmandu.I am  20 years old and i am an Student.
Enter your name = Yoman Rai
Enter your address = Narephate,Kathmandu
Enter your Age = 21
Enter your Job = Student
Hi!:),My name is Yoman Rai.I am currently living in Narephate,Kathmandu.I am  21 years old and i am an Student.
Enter your name = Rabin Karki
Enter your address = Jadibuti,Kathmandu
Enter your Age = 21
Enter your Job = Student
Hi!:),My name is Rabin Karki.I am currently living in Jadibuti,Kathmandu.I am  21 years old and i am an Student.