In [ ]:
print("welcome to my game ")
play = input("Do you want to play a game? ")
if play != "no":
    result = "Okay! let's play:)"
else:
    Quit()

In [ ]:
print("Welcome to my game")
ques = input("Do you want to play a game? ")
if ques !="Yes":
    result = "Okay let's play:)"
else:
    quit()
print(ques)

In [ ]:
print("Welcome to my game")
ques = input("Do you want to play a game? ")          #question users if they want to play game
if ques !="Yes":
    print("Okay let's play:)")
else:
    print(quit())

In [ ]:
print("Welcome to my game")

In [2]:
p = 45
t = 40
r = 20
s = p * t * r/100
#semi is the formula

print("the value of s is ",s)

the value of s is  360.0

In [6]:
print(2>1)
print(2<1)
print(2==2)
print(2<2)

True
False
True
False

In [8]:
a = int(88)
b = int(9)
if a<b :
    print("True")
else:
    print("False")

False

In [17]:
print("Hello World.")
a = float(-12.45)
print(a)
print("the value of a is",a)
info = "Hello world is a " + str(a) 
print(info)

Hello World.
-12.45
the value of a is -12.45
Hello world is a -12.45

In [1]:
# Python Collection
# list []
# tuple
# dict
# set

In [2]:
# list
# indexing
# multiple and duplicate
# ordered
# mutable

In [7]:
 a = ["Apple","BAll","Cat","dog","Egg"]
print(a[0])
print(a[-1])
print(a[0:4])
print(a[])

Apple
Egg
['Apple', 'BAll', 'Cat', 'dog']

In [8]:
# mutable
a = ["apple","ball"]
a[0]= "zebra"
a

['zebra', 'ball']

In [9]:
a = [1,2,3,4,5] #List
print(a*3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [12]:
a = []
a = a*["ball"]
a

TypeError: can't multiply sequence by non-int of type 'list'

In [13]:
print("the max value = ",max(a))

ValueError: max() arg is an empty sequence

In [14]:
a = [1,5,7,5,8,3]
a.sort()
print(a)

[1, 3, 5, 5, 7, 8]

In [18]:
b = ["Zebra","Ant","Fuck","Koke"]
b.sort()
b.reverse()
print(b)

['Zebra', 'Koke', 'Fuck', 'Ant']

In [21]:
a = ["ann","bann","hdga","dhgajdh","djkgcjd","1"]
a.sort()
a.reverse()
print(a)

['hdga', 'djkgcjd', 'dhgajdh', 'bann', 'ann', '1']

In [22]:
# to insert values
# append() insert() extend()

#delete - del remove() pop()

In [23]:
a = ["ann","bann","hdga","dhgajdh","djkgcjd","1"]
for i in a:
    print(i,end = " ")

ann bann hdga dhgajdh djkgcjd 1

In [25]:
# append
a = ["Apple","Cat","dog"]
a.append("Chinese")
a.sort()
print(a)

['Apple', 'Cat', 'Chinese', 'dog']

In [27]:
# insert
a = ["Apple","Cat","dog"]
a.insert(3,"banana")
print(a)

['Apple', 'Cat', 'dog', 'banana']

In [29]:
#extend
a = ["Apple","Cat","Dog"]
b = ["Banana","Snake"]
a.extend(b)
a.sort()
print(a)

['Apple', 'Banana', 'Cat', 'Dog', 'Snake']

In [3]:
a = []
n = int(input("Enter num n = "))
for i in range(n):
    b = int(input("enter value = "))
    a.append(b)
print(a)

Enter num n = 2
enter value = 2
enter value = 3
[2, 3]

In [4]:
a = ["apple","Banana","Fox","Cat"]
a.remove("Banana")
list(a)

['apple', 'Fox', 'Cat']

In [3]:
a = ["apple","banana","mango","grape","orange"]
del a[0:2]
print(a)

['mango', 'grape', 'orange']

In [13]:
a = ["apple","banana","mango","apple","grape","orange","Pine","apple"]
n = a.count("apple")            #IMP
for i in range(n):
    a.remove("apple")
print(a)

['banana', 'mango', 'grape', 'orange', 'Pine']

In [3]:
a = ["apple","banana","mango","apple","grape","orange","Pine","apple"]
for i in range(len(a)):
    if a[i] == "apple": 
        print(i)

0
3
7

In [14]:
a = ["apple","banana","mango","apple","grape","orange","Pine","apple"]
for i in a:
    print(i[0:5])

apple
banan
mango
apple
grape
orang
Pine
apple

In [20]:
a = ["apple","banana","mango","apple","grape","orange","Pine","apple"]
for i in a:
    if i[0] == "a":
        print(i)

apple
apple
apple

In [21]:
a = "Fuck YOu"
print(type(a))

<class 'str'>

In [22]:
a =["apple","banana","fox","cherry","dog","ant"]
a.sort()
print(a)

['ant', 'apple', 'banana', 'cherry', 'dog', 'fox']

In [32]:
a =["apple","banana","fox","cherry","dog","ant","ox"]
a.append("goat")
a.sort()
print(a)

for i in a:
    if i[0] != "a":
        print(i)

['ant', 'apple', 'banana', 'cherry', 'dog', 'fox', 'goat', 'ox']
banana
cherry
dog
fox
goat
ox

In [ ]:
print("Welcome to my game")
name = input("Please enter your name = ")
age = int(input("Enter your age = "))
while age >= 18:
    print("Invalid access")
    print(age = int(input("Enter your age = ")))

gender = input("Whats your gender? ").lower()
if gender == "male":
    print("Welcome to my game MR,",name)
elif gender == "female":
    print("Welcome to my game MS,",name)
else:
    print("Invalid gender")
play = input("Do you want to play game? ").lower()
if play != "yes":
    print("quit")
else:
    print("Okay:) lets's play.")

Welcome to my game
Please enter your name = ghhg
Enter your age = 11