In [1]:
# for loop
# while loop 

# the types of loop are
# 1. Certain loop
# 2. Uncertain loop

In [2]:
# range(5) = 0,1,2,3,4           for(i=0;i<5;i++)
# range(1,5) = 1,2,3,4           for(i=0;i<5;i++)
# range(1,10,2) = 1,3,5,7,9      for(i=0;i<10;i= i+2)

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for a in range(1,9):
    print(a)

1
2
3
4
5
6
7
8

In [5]:
for a in range(5):
    print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world

In [7]:
for a in range(5,0,-1):
    print(a)

5
4
3
2
1

In [10]:
for a in range(1,11):
    print(a*9)

9
18
27
36
45
54
63
72
81
90

In [11]:
n = 9
for a in range(1,11):
    print(n,"*",a,"=",a*9)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [1]:
a = 22
for b in range(1,11):
    print(a,"*",b,"=",b*a)

22 * 1 = 22
22 * 2 = 44
22 * 3 = 66
22 * 4 = 88
22 * 5 = 110
22 * 6 = 132
22 * 7 = 154
22 * 8 = 176
22 * 9 = 198
22 * 10 = 220

In [10]:
for i in range(3):
    name = input("your name = ")
    eng = int(input("eng marks = "))
    nep = int(input("nep marks = "))
    math = int(input("math marks = "))
    sci = int(input("sci marks = "))

    total = eng + nep + math + sci
    print(total)
    per= total/4
    print("Hello mr",name,"your total marks is",total,"your total percentage is",per)

your name = Suraj tamang
eng marks = 98
nep marks = 82
math marks = 99
sci marks = 88
367
Hello mr Suraj tamang your total marks is 367 your total percentage is 91.75
your name = Yoman rai
eng marks = 99
nep marks = 89
math marks = 98
sci marks = 87
373
Hello mr Yoman rai your total marks is 373 your total percentage is 93.25
your name = Rabin Karki
eng marks = 100
nep marks = 100
math marks = 100
sci marks = 100
400
Hello mr Rabin Karki your total marks is 400 your total percentage is 100.0

In [5]:
for i in range(5,0,-1):
    print(i*"*")

*****
****
***
**
*

In [6]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [12]:
a = 10
for i in range(5):
    x = int(input("enter value of x = "))
    a = a + x
    print(a)

enter value of x = 999
1009
enter value of x = 100
1109
enter value of x = 1000
2109
enter value of x = 988
3097
enter value of x = 1000
4097

In [13]:
a = 5
for i in range(5):
    x = int(input("Enter the number = "))
    a = a * x
    print(a)

Enter the number = 10
50
Enter the number = 7
350
Enter the number = 8
2800
Enter the number = 4
11200
Enter the number = 3
33600

In [18]:
# 5! = 1*2*3*4*5
s = 1                             # s = 1
n = int(input("enter n = "))      # n = 5   
for i in range(1,n+1):            # loop of number table
   s= s*i                  
    print(s)                               #1*1 = 1,1*2 = 2,2*3 = 6,6*4 = 24,24 *5 = 120

enter n = 5
1
2
6
24
120

In [1]:
info = str()
n = int(input("Enter number = "))
for i in range(n):
    name = input("Enter your name = ")
    phone  = int(input("Enter your number = "))
    x = name + "-" + str(phone) + "\n"
    print(x)

Enter number = 2
Enter your name = suraj
Enter your number = 987654321
suraj-987654321

Enter your name = nigga
Enter your number = 987654320
nigga-987654320

In [ ]:
grand_total = 0
name = input("Enter your name = ")
n = int(input("Enter your value = "))
for a in range(n):
    product = input("Product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total + total
    print(total)
print(grand_total)

In [ ]:
grand_total = 0
name = input("Enter your name = ")
n = int(input("Enter your value = "))
for a in range(n):
    product = input("Product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total + total
    print(total)
print(grand_total)

In [2]:
a = "Hello"
b = "world"
print("{} Babe.I just want you to know that you are my {}".format(a,b))

Hello Babe.I just want you to know that you are my world