In [6]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\suraj\anaconda3\lib\site-packages (2.2.9)

In [8]:
import mysql.connector
database = mysql.connector.connect(
host="localhost",
user="root",
password=""
)
db = database.cursor()

db.execute("CREATE DATABASE pythons")

In [16]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",

database = "suraj"
)
db = database.cursor()

In [9]:
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="suraj"
    )
mycursor = mydb.cursor()
sql = f'''INSERT INTO student (sn, name, science, math, english, econimics, account, total, percentage, grade) VALUES ('1', 'suraj', '98', '99', '89', '96', '88', '370', '89', 'A');'''
mycursor.execute(sql)

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'PRIMARY'

In [8]:
import mysql.connector
db.execute("SELECT name FROM suraj")
result =db.fetchall()
for x in result:
    print(x)

NameError: name 'db' is not defined