In [1]:
print("hello world")

hello world

In [1]:
a = 10
b = 11

print( a+b)

21

In [2]:
a = "Hello "
b = "World\n"
print((a+b)*10)

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [8]:
name = str(input("Enter your name"))
Eng = int(input("Enter your marks = "))
nep = int(input("Enter your marks = "))
sci = int(input("Enter your marks = "))
soc = int(input("Enter your marks = "))
comp = int(input("Enter your marks = "))
eph = int(input("Enter your marks = "))
acc = int(input("Enter your marks = "))

total = Eng + nep + sci + soc + comp + eph + acc
percentage = total/7
if percentage>40:
    result = "Congratulation, you have Passed the exam"
else:
    result = "I'm Sorry, you have Failed the exam"
    print("Hello MR",name,"Your total number is",total,"Your Per is",percentage,result)

Enter your namesjsjsjs
Enter your marks = 99
Enter your marks = 99
Enter your marks = 99
Enter your marks = 99
Enter your marks = 99
Enter your marks = 99
Enter your marks = 9

In [2]:
a = ["Apple","Banana","Orange","Ant","beer"]
del a[0:2]
print(a)

['Orange', 'Ant', 'beer']

In [3]:
a = ["Apple","Banana","Orange","Ant","beer"]
a.remove("Banana")
print(a)

['Apple', 'Orange', 'Ant', 'beer']

In [9]:
a = ["Apple","Banana","Orange","Ant","beer","Apple","Apple"]
n = a.count("Apple")
print(a)
for i in range(n):
    a.remove("Apple")
    print(a)

['Apple', 'Banana', 'Orange', 'Ant', 'beer', 'Apple', 'Apple']
['Banana', 'Orange', 'Ant', 'beer', 'Apple', 'Apple']
['Banana', 'Orange', 'Ant', 'beer', 'Apple']
['Banana', 'Orange', 'Ant', 'beer']

In [1]:
# tuple
# Indexing
# Orderd
# Multiple and duplicate data
# Imutable

In [5]:
t = ("Apple","Cat","Banana","Fish","Nuts")
print(t)
print(t[0])
print(t[0:4])
print(t[0:5:2])

('Apple', 'Cat', 'Banana', 'Fish', 'Nuts')
Apple
('Apple', 'Cat', 'Banana', 'Fish')
('Apple', 'Banana', 'Nuts')

In [12]:
# no append()    no insert() extend()
# no update
#no delete
# no sort

In [13]:
a = (1,2,3,4)
b= list(a)
del b[0]
print(b)

[2, 3, 4]

In [17]:
# concatination
a = (1,2,3,4)
b = (5,6,7,8,9)
c = (a+b)
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
a = ()
b =("Apple",)
a = a+b
print(a)

('Apple',)

In [22]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x= input("Enter x = ")
    t= t+(x,)  #string to tuple(x,)
    print(t)

Enter n = 3
Enter x = Banana
('Banana',)
Enter x = apple
('Banana', 'apple')
Enter x = lando
('Banana', 'apple', 'lando')

In [23]:
tuple(x)

('l', 'a', 'n', 'd', 'o')