In [1]:
# INSTALLING SQL CONNECTOR IN PYTHON
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 11.9/11.9 MB 1.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp310-cp310-win_amd64.whl size=247958 sha256=c010ac82015fa82b518fd72964a5e7cce3a647734026023b6d71051af0afc09c
  Stored in directory: c:\users\suraj\appdata\local\pip\cache\wheels\3e\7f\a3\928a40d1ffd01dd16057f308042377afc505d56145375adf40
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [3]:
# Connecting SQL in Python
import mysql.connector

mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password="",
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001B61FDE1690>

In [4]:
#Creating DATABASE
import mysql.connector

mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password="",
)
mycursor = mydb.cursor()    #creating database
mycursor.execute("create database bca")

print("Database created")

Database created

In [18]:
# Creating Table in SQL
import mysql.connector
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='',
    database = 'bca'
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE subject(id INT, name Varchar(25), computer INT, math INT, english INT, economics INT, account INT, total INT, per INT, grade Varchar(25))")
print("Table create Sucessfully")

Table create Sucessfully

In [27]:
mycursor.execute("SELECT * FROM subject")
result =mycursor.fetchall()
for x in result:
    print(x)

(1, 'suraj', 98, 99, 87, 95, 88, 370, 89, 'A')

In [40]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="bca"
)
mycur = mydb.cursor()
sql = "INSERT INTO subject(id, name, computer, math, english, economics, account, total, per, grade) VALUES('1', 'ram', '88', '96', '87', '95', '96', '360', '89', 'A')"
mycur.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record inserted.")

-1 record inserted.

In [4]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="school_result"
)
mycur = mydb.cursor()

name = input("Enter your name = ")
english = int(input("enter your eng marks = "))
nepali = int(input("enter your nep marks = "))
math = int(input("enter your math marks = "))
science = int(input("enter your sci marks = "))

total = english + nepali + math + science
print("Your total marks is ",total)
per = total/4
if per >= 80:
    grade = "A+"
elif per >= 60:
    grade = "B"
else:
    grade = "Fail"
print("Your grade is ",grade)

sql = f'''INSERT INTO result (name, english, nepali, math, science, total, percentage, grade) 
VALUES ('{name}', {english}, {nepali}, {math}, {science}, {total}, {per}, '{grade}');'''

mycur.execute(sql)
mydb.commit()

Enter your name = yoman
enter your eng marks = 98
enter your nep marks = 89
enter your math marks = 78
enter your sci marks = 87
Your total marks is  352
Your grade is  A+

In [1]:
#---USING LOOP AND PRINTING IT IN SQL---#
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="school_result"
)
mycur = mydb.cursor()

n = int(input("Enter the value of n = "))
for i in range(n):
    name = input("Enter your name = ")
    english = int(input("enter your eng marks = "))
    nepali = int(input("enter your nep marks = "))
    math = int(input("enter your math marks = "))
    science = int(input("enter your sci marks = "))

    total = english + nepali + math + science
    print("Your total marks is ",total)
    per = total/4
    if per >= 80:
        grade = "A+"
    elif per >= 60:
        grade = "B"
    else:
        grade = "Fail"
    print("Your grade is ",grade)

    sql = f'''INSERT INTO result (name, english, nepali, math, science, total, percentage, grade) 
    VALUES ('{name}', {english}, {nepali}, {math}, {science}, {total}, {per}, '{grade}');'''

    mycur.execute(sql)
    mydb.commit()

Enter the value of n = 2
Enter your name = Rabin Khadka
enter your eng marks = 88
enter your nep marks = 78
enter your math marks = 65
enter your sci marks = 55
Your total marks is  286
Your grade is  B
Enter your name = Manish Shrestha
enter your eng marks = 99
enter your nep marks = 99
enter your math marks = 99
enter your sci marks = 99
Your total marks is  396
Your grade is  A+

In [3]:
# UPDATE
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="school_result"
)
mycursor = mydb.cursor()
sql = "UPDATE result SET grade = 'A' WHERE result.sn = 2;"
mycursor.execute(sql)
mydb.commit()